[user]
  name = Devin Weaver
  email = suki@tritarget.org

[alias]
  s = status -sb
  ci = commit
  co = checkout
  st = status
  patch = format-patch
  mylog = log --topo-order --decorate --first-parent
  rawdiff = diff --no-ext-diff -w
  ignore = !git update-index --assume-unchanged 
  unignore = !git update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep ^[a-z]

[apply]
  whitespace = fix

[push]
  default = tracking

[merge]
  conflictstyle = diff3
  tool = vimdiff

[color]
  status = auto
  branch = auto

[tig]
  show-author = full     # Show abbreviated/full/none author names.
  show-date = relative   # Show relative commit date.
  show-rev-graph = yes   # Show revision graph?
  show-refs = yes        # Show references?
  show-line-numbers = no # Show line numbers?

[github]
  user = sukima
