[alias]
  s = status -sb
  l = log --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %Cblue<%aN>%Creset%C(yellow)%d%Creset' --abbrev-commit --date=relative
  sl = log --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %Cblue<%aN>%Creset%C(yellow)%d%Creset' --abbrev-commit --date=relative -n 10
  ci = commit -v
  co = checkout
  st = status
  sb = show-branch
  diffc = diff --cached
  diffs = diff --stat
  shows = show --stat
  stats = shortlog --summary
  patch = format-patch
  rawdiff = diff --no-ext-diff -w
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep ^[a-z]
  ap = add -p
  serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
  pr = !hub pull-request
  pushf = push --force-with-lease
  pushtags = push --follow-tags
  pushorigin = push -u origin HEAD
  amend = commit -v --amend --no-edit
  reword = commit -v --amend
  fixup = commit --fixup
  squash = commit --squash
  prune = remote prune
  pruneall = !git remote prune origin | tee /dev/stderr | grep pruned | sed -e 's+^.*origin/+git branch -d +' | sh
  ctags = !.git/hooks/ctags
  this = rev-parse --abbrev-ref HEAD
  browse = !hub browse
  propen = prbrowse
  bfind = !git branch | grep

[core]
  ignorecase = false
  pager = less -EX
  excludesfile = ~/.gitignore_global
  autocrlf = false
  whitespace = cr-at-eol

[grep]
  extendRegexp = true

[apply]
  whitespace = fix

[push]
  default = simple

[rebase]
  autosquash = true

[merge]
  conflictstyle = diff3
  ; conflictstyle = merge
  tool = vimonly

[rerere]
  enabled = true

[diff]
  tool = vimdiff

[mergetool "diffconflicts"]
  cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
  trustExitCode = false
  keepBackup = false

[mergetool "vimonly"]
  cmd = vim "$MERGED"

[mergetool "fugitive"]
  cmd = vim "+Gdiff" "$MERGED"

[color]
  ui = auto
  interactive = auto
  status = auto
  branch = auto

[github]
  user = sukima

[gui]
  diffopts = --patience

[init]
  templatedir = ~/.git_template

[include]
  path = ~/.gitconfig.local
