# Make typing more efficient
set editing-mode vi

# Ask before displaying >40 items
set completion-query-items 40

# Ignore case for the command-line-completion functionality
set completion-ignore-case on

# visible-stats
# Append a mark according to the file type in a listing
set visible-stats off
set mark-directories on

# Show all instead of beeping first
set show-all-if-ambiguous off

# Better normal mode escaping management
$if mode=vi
  set keymap vi-command
  "gg": beginning-of-history
  "G": end-of-history
  set keymap vi-insert
  "jk": vi-movement-mode
  "jj": vi-movement-mode
$endif
