//registry.npmjs.org/:_authToken=7152cee5-dcf7-4d48-b9bc-a07e5cf63b6a
sign-git-tag=true
init-author-name=Devin Weaver (@sukima)
init-author-email=suki@tritarget.org
init-author-url=https://tritarget.org/
init-license=MIT
